{{#if therapists}}
    <p class="offset-md-2">Showing results for <strong>{{query}}</strong></p>
{{/if}}

<div class="col-md-8 offset-md-2 thumbnail card p-4">
    {{#if therapists}}
        {{#each therapists}}
            {{#unless @first}}
                <hr>
            {{/unless}}
                <div class="row">
                    <div class="col-md-2 overflow-hidden">
                        <img class="rounded thumbnail w-100" src="{{this.0.imageUrl}}" />
                    </div>
                    <div class="col-md-8">
                        <p class="mb-0"><a href="/therapist/{{this.0._id}}">{{this.0.name}}</a>
                        {{#if this.0.group}}<small> from <strong><a href="/group/{{this.0.group._id}}" class="text-secondary">{{this.0.group.name}}</a></strong></small>{{/if}}
                        <br>
                        <p class="text-muted"><small>{{this.0.description}}</small></p>
                        </p>
                        <div class="row pl-3">
                            {{#if this.0.averageRating}}
                                <strong>{{this.0.averageRating}} / 5</strong> <div class="stars ml-2">{{#stars this.0.averageRating}}{{/stars}}</div>
                            {{else}}
                                <strong>No reviews yet</strong>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-2 mt-4">
                        <a href="/therapist/{{this.0._id}}" class="btn btn-outline-info btn-sm mt-3">Rate</a>
                    </div>
                </div>
            {{#if @last}}
            <hr>
            <div class="text-center mt-3">
                <small><p>Therapist not listed here? <a href="/add">Add Therapist</a></p></small>
            </div>
            {{/if}}
        {{/each}}
    {{else}}
        <p class="text-muted"><strong>{{query}}</strong> is not in our system! Would you like to <strong>add a therapist?</strong></p>
        <a href="/add" class="btn btn-success">Add Therapist</a>

    {{/if}}
</div>