<div class="row">
    <div class="col-md-6">
        <p><a href="javascript:window.history.back()"><span class="fa fa-arrow-left"></span> back to search</a></p>
    </div>
    <div class="col-md-6 text-right">
            <a class="btn btn-outline-success btn-sm" href="/">Contact</a>
    </div>
</div>
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-2 m-3">
            <img src="{{this.therapist.0.imageUrl}}" class="img-fluid rounded w-100" alt="{{this.therapist.0.name}}">
        </div>
        <div class="col-md-9 m-3">
            <h1 class="card-title mb-0 display-5"><strong>{{this.therapist.0.name}}</strong></h1>
            <p class="card-text"><a class="text-secondary" href="/group/{{group._id}}">{{group.name}}</a></p>
            <p class="card-text">
                {{this.therapist.0.description}}
                <!-- ?.? / 5 -->
                {{#if this.therapist.0.averageRating}}
                    <div class="col-md-6 ml-0 pl-0 row">
                        <div class="stars ml-0 pl-0 pr-0 col-md-3 float-left">
                            {{#stars this.therapist.0.averageRating}}{{/stars}}
                        </div>
                        <div class="col-md-8 ml-0 pl-0 float-left">
                            <small><strong>{{#toFixed this.therapist.0.averageRating}}{{/toFixed}} / 5</strong></small>
                        </div>
                    </div>
                        {{else}}
                            <strong>No reviews yet</strong>
                        {{/if}}
                <br>
                <!-- # of reviews -->
                {{reviews.length}} total reviews
            </p>
        </div>
        <div class="w-100 p-5 {{#if user}}bg-primary{{else}}dark-blue-bg{{/if}} text-light">
            {{#if user}}
                {{#if reviewed}}
                <h3 class="m-5 text-center">You rated {{this.therapist.0.name}} <strong>{{this.reviewed.0.therapist_rating}} stars.</strong></h3>
                    {{else}}
                     <p class="lead text-center">Rate your experience with <strong>{{this.therapist.0.name}}</strong>
                        <div class="text-center" style="font-size: 2rem;">
                                <span id="rateMe">
                                <i class="far fa-star py-2 px-1 rate-popover" data-index="0" data-html="true" data-toggle="popover"
                                data-placement="top" title="Very bad"></i>
                                <i class="far fa-star py-2 px-1 rate-popover" data-index="1" data-html="true" data-toggle="popover"
                                data-placement="top" title="Poor"></i>
                                <i class="far fa-star py-2 px-1 rate-popover" data-index="2" data-html="true" data-toggle="popover"
                                data-placement="top" title="OK"></i>
                                <i class="far fa-star py-2 px-1 rate-popover" data-index="3" data-html="true" data-toggle="popover"
                                data-placement="top" title="Good"></i>
                                <i class="far fa-star py-2 px-1 rate-popover" data-index="4" data-html="true" data-toggle="popover"
                                data-placement="top" title="Excellent"></i>
                            </span>
                        </div>
                    </p>
                {{/if}}
            {{else}}
                <h3 class="m-5 text-center"><a href="/login">Login</a> to leave a review!</h3>
            {{/if}}
        </div>
        <div class="card-footer w-100 text-muted">
            <h3 class="mt-4"><strong>Reviews</strong></h3>
            <div class="card-body">
            <!-- reviews -->
            {{#if reviews}}
                <!-- For each rating -->
                    {{#each reviews}}
                        <div class="col-md-12 card bg-white p-4 mb-2">
                            <div class="stars">{{#stars this.therapist_rating}}{{/stars}}</div>
                            <p>{{this.review}}</p>
                        </div>




                
                    {{!-- {{#unless @first}}<hr>{{/unless}}
                        <!-- rating num -->
                    {{this.therapist_rating}}/5<br>
                    <!-- stars for rating average -->
                    <div class="stars">{{#stars this.therapist_rating}}{{/stars}}</div><br>
                    <!-- reviewer's name -->
                    <!-- {{this.name}}<br>-->
                    <!-- review text -->
                    {{this.review}}<br><br> --}}
                    {{/each}}
                </div>
            {{/if}}
            </div>
        </div>
    </div>
</div>


<script>

var $stars;

jQuery(document).ready(function ($) {

    let rating = 0;
    let modalIsOpen = false;

  // Custom whitelist to allow for using HTML tags in popover content
  var myDefaultWhiteList = $.fn.tooltip.Constructor.Default.whiteList
  myDefaultWhiteList.textarea = [];
  myDefaultWhiteList.button = [];

  $stars = $('.rate-popover');

  $stars.on('mouseover', function () {
      if(!modalIsOpen) {
        var index = $(this).attr('data-index');
        markStarsAsActive(index);
      }
  });

  function markStarsAsActive(index) {
    unmarkActive();

    for (var i = 0; i <= index; i++) {
      $($stars.get(i)).addClass('fas');
      switch (index) {
        case '0':
          $($stars.get(i)).addClass('oneStar');
          rating = 1;
          break;
        case '1':
          $($stars.get(i)).addClass('twoStars');
          rating = 2;
          break;
        case '2':
          $($stars.get(i)).addClass('threeStars');
          rating = 3;
          break;
        case '3':
          $($stars.get(i)).addClass('fourStars');
          rating = 4;
          break;
        case '4':
          $($stars.get(i)).addClass('fiveStars');
          rating = 5;
          break;
      }
    }
  }

  function unmarkActive() {
    $stars.removeClass('oneStar twoStars threeStars fourStars fiveStars fas');
  }

  $stars.on('click', function () {
    $stars.popover('hide');
    modalIsOpen = true;
  });

  // Submit, you can add some extra custom code here
  // ex. to send the information to the server
  $('#rateMe').on('click', '#voteSubmitButton', function (e) {
      console.log(rating);
      console.log(document.querySelector('textarea').value)
    $.ajax({
        type: "POST",
        url: "/rate",
        data: {
            for: "{{this.therapist.0._id}}",
            rating,
            review: document.querySelector('textarea').value
        },
        success: (data)=> {
            window.location.reload(false);
        }
    });
    $stars.popover('hide');
  });

  // Cancel, just close the popover
  $('#rateMe').on('click', '#closePopoverButton', function () {
    $stars.popover('hide');
  });

});

$(function () {
  $('.rate-popover').popover({
    // Append popover to #rateMe to allow handling form inside the popover
    container: '#rateMe',
    // Custom content for popover
    content: `<div class="my-0 py-0"> <textarea type="text" style="font-size: 0.78rem" class="md-textarea form-control py-0" placeholder="Write us what can we improve" rows="3"></textarea> <button id="voteSubmitButton" type="submit" class="btn btn-sm btn-primary">Submit!</button> <button id="closePopoverButton" class="btn btn-flat btn-sm">Close</button>  </div>`
  });
  $('.rate-popover').tooltip();
});


</script>