<div class="row">
    <div class="col-md-6">
        <p><a href="javascript:window.history.back()"><span class="fa fa-arrow-left"></span> back to search</a></p>
    </div>
    <div class="col-md-6 text-right">
            <a class="btn btn-outline-success btn-sm" href="/">Contact</a>
    </div>
</div>
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-2 m-3">
            <img src="{{therapist.imageUrl}}" class="img-fluid rounded w-100" alt="{{therapist.name}}">
        </div>
        <div class="col-md-9 m-3">
            <h4 class="card-title mb-0"><strong>{{therapist.name}}</strong></h4>
            <p class="card-text"><a class="text-secondary" href="/group/{{group._id}}">{{group.name}}</a></p>
            <p class="card-text">
                {{therapist.description}}
                <!-- ?.? / 5 -->
                {{#if this.0.averageRating}}
                    <strong>{{this.0.averageRating}} / 5</strong> <div class="stars ml-2">{{#stars this.0.averageRating}}{{/stars}}</div>
                {{/if}}
                <br>
                <div class="stars">{{#stars therapist.averageRating}}{{/stars}}</div>
                <!-- # of reviews -->
                {{therapist.therapist_rating.length}} total reviews
            </p>
        </div>
        <div class="card-footer w-100 text-muted">
            <h3 class="mt-4">Reviews </h3>
            <div class="card-body">
            <!-- reviews -->
            {{#if therapist.therapist_rating}}
                <!-- For each rating -->
                {{#each therapist.therapist_rating}}
                    {{#unless @first}}<hr>{{/unless}}
                        <!-- rating num -->
                    {{this.therapist_rating}}/5<br>
                    <!-- stars for rating average -->
                    <div class="stars">{{#stars this.therapist_rating}}{{/stars}}</div><br>
                    <!-- reviewer's name -->
                    <!-- {{this.name}}<br>-->
                    <!-- review text -->
                    {{this.review}}<br><br>
                {{/each}}
            {{/if}}
            </div>
        </div>
    </div>
</div>
